aside {
  font-size: small;
  right: 10px;
  position: absolute;
  width: 200px;
}

svg {
  overflow: hidden;
}

path {
  fill: yellow;
  stroke: #000;
  stroke-width: .5px;
}

circle {
  fill: #ccc;
  stroke: #000;
  pointer-events: none;
}
